<div mat-dialog-title class="col f-center" style="max-height: 72px;">
    <h3 class="title-dialog">Crear colaborador</h3>
</div>
<hr>

<form [formGroup]="userForm">
    <mat-dialog-content class="mat-typography">
        <div class="col g-1">
            <mat-form-field appearance="outline">
                <mat-label>Nombre: </mat-label>
                <input type="text" matInput formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Apellido:</mat-label>
                <input type="text" matInput formControlName="lastname" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Cargo en la compañía: </mat-label>
                <input type="text" matInput formControlName="position" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Correo electrónico: </mat-label>
                <input type="email" matInput formControlName="email" email="true" />
   
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contacto whatsapp</mat-label>
                <input type="tel" matInput formControlName="phone" placeholder="Ej: +573196544346" />
                <mat-error *ngIf="userForm.get('phone')?.hasError('pattern')">
                    Formato incorrecto. Ejs: +573196544346, +593999728814
                </mat-error>
                <mat-error *ngIf="userForm.get('phone')?.hasError('phoneExist')">
                    Teléfono destinado a otro usuario
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Estado </mat-label>
                <mat-select formControlName="stateCollaborator">
                  <mat-option *ngFor="let item of colaboratoState" [value]="item.value">{{
                    item.name
                    }}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="action-dialog" align="end">
        <button class="cancel-button" (click)="cancel()" mat-elevation-z0 mat-stroked-button>Cancelar</button>
        <button class="create-button" color="primary" mat-raised-button [disabled]="isProcessing"
            (click)="create()">Crear</button>
    </mat-dialog-actions>
</form>