<div *ngIf="!hasFile" class="upload-card" appDnd (fileDropped)="fileBrowseHandler($event, 'dragged')">
  <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event, 'button')"
    accept="{{fileType}}">
  <fa-icon class="icon-name" [icon]="['fas', 'cloud-upload-alt']"></fa-icon>
  <h2>{{title}}</h2>
  <p>{{subtitle}}.</p>
  <button mat-raised-button style="background-color: #493F96; color:#F5F6FA"> Carga el archivo </button>
</div>
<div class="upload-card" *ngIf="completed && hasFile">
  <h2 style="color: #493F96;">Archivo Agregado</h2>
  <button mat-raised-button style="background-color: #493F96; color:#F5F6FA">
    <fa-icon class="icon-photo" [icon]="['fas', 'trash']" (click)="removeFile($event)"></fa-icon>
    Remover archivo
  </button>
</div>