@import  '../../../styles'
  
.card-course
    cursor: pointer
    margin-right: 20px
    width: 312px
    box-sizing: border-box!important
    &:hover
        border: 1px solid $main-secundary-color
    &:active
        background: $main-primary-light-border
        color: white

.course-name
    padding: 10px 0 10px 0
    font-family: 'Bold'
    font-size: 18px
.image-course
    img
        height: 250px
        width: calc( 100% + 60px )
        transform: translateX(-30px)
        box-sizing: border-box
        background-attachment: fixed
        background-position: center
