<div mat-dialog-title class="full-width col f-center" style="max-height: 72px;">
    <h3 class="title-dialog">Inscribir colaborador</h3>
</div>
<hr>

<mat-dialog-content class="mat-typography">
    <div class="col g-1">
        <mat-paginator [hidePageSize]="true" [length]="lengthPath" [pageSize]="limitElements"
            (page)="pageChange($event)" [disabled]="isLoading" aria-label="Select page of periodic elements"
            pageSize="25">
        </mat-paginator>

        <table *ngIf="collaborators" mat-table [dataSource]="collaborators" class="table-catalog bt">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="bt-left-radius title-table">

                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="toggleSelection(row)" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th class="mw-250 title-table " mat-header-cell *matHeaderCellDef> Ruta </th>
                <td class="mw-250" mat-cell *matCellDef="let element">
                    {{element.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th class="mw-250 bt-rigth-radius title-table" mat-header-cell *matHeaderCellDef> phone</th>
                <td class="mw-250 col g-1 f-start f-center-v row-catalog" mat-cell *matCellDef="let element">
                    {{element.phone}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected]="selection.isSelected(row)">
            </tr>
        </table>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="action-dialog" align="end">
    <div class="flex row full-width f-end">
        <button mat-raised-button color="primary" [disabled]="!hasSelectedItems()" (click)="selectSubscriber()">Inscribir</button>
    </div>
</mat-dialog-actions>